{% extends 'layout.html' %} {% block title %}
<title>Céer un même - Meme G'</title>
{% endblock %} {% block content %}
<section class="wrap-meme container">
    <div class="row justify-content-center">

        <div class="col-12">
            <h1 class="title">Créez votre
                <span class="pink">même</span>
            </h1>
        </div>

        <div class="col-12">
            <div class="picture-meme">
                <img src="assets/img/upload/ane.jpg">
            </div>
        </div>
        <div class="col-12 btn">
            <button class="btn-blue">
                upload my picture</button>
        </div>
       
        <div class="row">
            <div class="owl-carousel owl-theme col-12">
                <div class="item">
                    <img src="assets/img/upload/ane.jpg">
                </div>
                <div class="item">
                    <img src="assets/img/upload/ane.jpg">
                </div>
                <div class="item">
                    <img src="assets/img/upload/ane.jpg">
                </div>
                <div class="item">
                    <img src="assets/img/upload/ane.jpg">
                </div>

            </div>
        </div>
        <div class="form-text">
            <div class="form-txt-1">
                <input type="text" placeholder="Choix de texte 1" class="col-10" />
                <button></button>
                <button></button>
            </div>
            <div class="form-txt-2">
                <input type="text" placeholder="Choix de texte 2" class="col-10" />
                <button></button>
                <button></button>
            </div>
        </div>
        <button class="btn btn-blue">Télécharger</button>
    </div>
</section>

{% endblock %}