{% extends 'layout.html' %} {% block title %}
<title>Créer un même - Meme G'</title>
{% endblock %} {% block content %}
<section class="wrap-meme container">
    <div class="row justify-content-center">

        <div class="col-12">
            <h1 class="title">Créez votre
                <span class="pink">même</span>
            </h1>
        </div>
        <div class="wrap-picture col-12 col-md-6">
            <div class="row">
                <div class="col-12">
                    <div class="picture-meme">
                        <div id="data-1"></div>
                        <img src="assets/img/upload/{{ mainPicture.url }}">
                        <div id="data-2"></div>
                    </div>


                </div>
                <div class="col-12 btn">
                    <label for="file" class="label-file">upload my picture</label>
                    <input id="file" class="input-file" type="file">

                </div>
            </div>
        </div>
        <div class="wrap-slide-btn col-11 col-md-5 offset-md-1">
            <div class="row">
                <div class="col-12">

                    <div class="owl-carousel owl-theme">
                        {% for post in posts %}
                        <div class="item">
                            <a href="index.php?action=generator&id={{ post.id }}">
                                <img src="assets/img/upload/{{ post.url }}">
                            </a>
                        </div>
                        {% endfor %}
                    </div>

                </div>
                <form action="index.php?action=download" method="POST" class="form-text col-12">
                    <div class="form-txt-1 row">
                        <div class="col-9">
                            <input type="text" id="txt-1" placeholder="Choix de texte 1" name="topText" />
                        </div>
                        <div class="col-3 btn-color-txt">
                            <input type="color" value="#121d2c" class="btn-color" id='color-1' name="textColor1">
                            <select class="slc-size" name="textSize1"></select>

                        </div>
                    </div>
                    <div class="form-txt-2 row">
                        <div class="col-9">
                            <input type="text" id="txt-2" placeholder="Choix de texte 2" name="bottomText" />
                        </div>
                        <div class="col-3 btn-color-txt">
                            <input type="color" value="#121d2c" class="btn-color" id='color-2' name="textColor2">
                            {# <select class="slc-size" name="textSize2">

                            </select> #}
                        </div>
                    </div>
                    <input type="hidden" name="textSize" value=""/>

                    <input type="hidden" name="url" value="{{ mainPicture.url }}" />
                    <input type="hidden" name="id" value="{{ mainPicture.id }}" />
                    <button type="submit" class="btn btn-blue">Télécharger</button>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}