{% extends 'layout.html' %} {% block title %}
<title>Bienvenue sur Meme G' - Générateur de même</title>
{% endblock %} {% block content %}

<section class="wrap-home">
    <div class="background-home">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1>meme g', le générateur de mêmes</h1>
                </div>
                <div class="col-12">
                    <h2>Puisquam est qui dolorem ipsum quia dolor</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="wrap-content container">
        <div class="row">
            <div class="col-12">
                <h3>Les derniers même réalisés</h3>
            </div>
            {% for post in posts %}
            <div class="item-meme col-12 col-md-4">
                <a class="link-img">
                    <img src="assets/img/meme/{{ post.url }}">

                    <div class="content-hover">
                        <div class="cross">+</div>
                    </div>
                </a>
            </div>
            {% endfor %}
            
        </div>
    </div>



</section>

{% endblock %}