{% extends 'layout.html' %} {% block title %}
<title>Télécharger mon même - Meme G'</title>
{% endblock %} {% block content %}
<section class="wrap-download container">
    <div class="row justify-content-center">

        <div class="col-12">
            <h1 class="title">Ca y est tu as ton
                <span class="pink">même</span>
            </h1>
        </div>
        <div class="wrap-picture col-10">
            <div class="row">
                <div class="col-12">
                    <div class="picture-meme">
                        <img src="assets/img/meme/{{ meme.url }}">
                    </div>


                </div>

            </div>
        </div>
        <div class="col-12 justify-content-center">
            <div class="glob-btn">
                <a href="index.php?action=download&memeId={{ meme.id }}&memeName={{ meme.url }}">
                    <button type="submit" class="btn-pink">Télécharger</button>
                </a>
            </div>
        </div>
        <div class="col-12 social-media">
            <p>partagez-moi :</p>
            <div class="ico-social">
                <i class="fab fa-facebook-square"></i>
                <i class="fab fa-twitter-square"></i>
            </div>
        </div>
    </div>
</section>
{% endblock %}